{% extends 'loancalculator/base.html' %}
{% load crispy_forms_tags %}

{% block content %} 


<div class="container">
<div class="row justify-content-center" style="margin-top: -100px;">
    
    <div class="col-md-4 border bg-light">

        <div class="row justify-content-center">
            <h1 class="text-center"> Car Finance Calculator</h1>
                <h5 class="text-center"> Enter the details below to see your estimate</h5>
                </div>
                <div class="col-md-8 mx-auto">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Calculate</button>                
            </form>
            <br>
        </div>

    </div>

    <div class="col-sm-4 border bg-white">
        <div class="row justify-content-center">
                <h1>Investment Results</h1>
                <h3> After {{ number_of_years }} years, your investment is worth ${{ total_result }}</h3>
    </div>
                <div class="mt-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Year</th>
                                <th scope="col">Interest</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
    
                            {% for key, value in yearly_results.items %}
    
                            <tr>
                                <th scope="row">{{ key }}</th>
                                <td>{{ value.interest }}</td>
                                <td>{{ value.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

      </div>
    </div>  
  </div>

{% endblock content %}