{% extends 'loancalculator/base.html' %}
{% load crispy_forms_tags %}

{% block content %} 


<div class="container">
<div class="row justify-content-center" style="margin-top: -100px;">
    
    <div class="col-md-4 border bg-light">

        <div class="row justify-content-center">
            <h1 class="text-center"> Car Finance Calculator</h1>
                <h5 class="text-center"> Enter details below to see your estimate</h5>
                </div>
                <div class="col-md-8 mx-auto">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button class="btn btn-primary" type="submit">Calculate</button>                
            </form>
            <br>
        </div>

    </div>
 <!-- RESULTS TOP -->
    <div class="col-md-4 border bg-white">
        <div class="row justify-content-center">
                <h3 class="text-center">Your estimated payment</h3>
                <h2> ${{ monthly_repay }} over {{ number_of_months }} months</h2>
                <!-- <h3> After {{ number_of_years }} years, your investment is worth ${{ total_result }}</h3>-->
    </div>
                <div class="mt-5">
                    <div class="row justify-content-between">
                        <div class="col-4 text-left">
                          Car price
                        </div>
                        <div class="col-4 text-left">
                            ${{ starting_amount|floatformat:"g"}}
                        </div>
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-4 text-left">
                          Down payment
                        </div>
                        <div class="col-4">
                          -${{ deposit_amount|floatformat:"g" }}
                        </div>
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-4 text-left">
                          Trade-in value
                        </div>
                        <div class="col-4">
                          -${{ trade_in_value|floatformat:"g" }}
                        </div>
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-4 text-left"> 
                          Estimated sales tax ({{ sales_tax.combinedrate }}%)
                        </div>
                        {% for item in sales_tax %}
                        <div class="col-4">
                         +${{ tax_amount|floatformat:"g" }} 
                        </div>
                        {% endfor %}
                      </div>
                      <br>
                      <div class="position-relative w-100 top-50 start-0 border-muted border-top"></div>
                      <br>
                      <!-- RESULTS BOTTOM -->
                      <div class="row justify-content-between">
                        <div class="col-4 text-left fw-bold">
                          Total loan amount
                        </div>
                        <div class="col-4">
                          ${{ total_loan|floatformat:"g" }}
                        </div>
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-4 text-left fw-bold">
                            Total interest paid
                            (over life of loan)
                        </div>
                        <div class="col-4">
                          ${{ total_interest|floatformat:"g" }}
                        </div>
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-4 text-left fw-bold">
                            Total loan & interest paid
                        </div>
                        <div class="col-4">
                          ${{ total_interest_and_loan|floatformat:"g"}}
                        </div>
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-4 text-left fw-bold">
                            Monthly payment
                        </div>
                        <div class="col-4">
                          ${{ monthly_repay|floatformat:"g" }}
                        </div>
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-4 text-left fw-bold">
                            Number of Payments
                        </div>
                        <div class="col-4">
                          {{ number_of_payments|floatformat:"g" }}
                        </div>
                      </div>
                      <br>
                    <!--
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Year</th>
                                <th scope="col">Interest</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            -->
    
                            <!-- {% for key, value in yearly_results.items %} 
    
                            <tr>
                                <th scope="row">{{ key }}</th>
                                <td>{{ value.interest }}</td>
                                <td>{{ value.total }}</td>
                            </tr>
                             {% endfor %} -->

                    
                </div>
            </div>

      </div>
    </div>  
  </div>



{% endblock content %}